In [2]:
#importing libraries
import os
import numpy as np
import pandas as pd

In [16]:
#creating filepath object
pwd = os.getcwd()
filepath = pwd + "/budget_data.csv"

In [17]:
#reading csv
budget_data = pd.read_csv(filepath)

In [18]:
budget_data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [25]:
#using the len function in pandas to determine the number of entries (number of months) int he dataset
num_months = len(budget_data["Date"])

In [33]:
#taking the sum over all months and storing in profit total variable
profit_total = sum(budget_data["Profit/Losses"])

In [34]:
profit_total

38382578

In [47]:
#calculating the difference between months so that we can find the max and min later. Putting this data in a  new Column
budget_data["Change"] = budget_data["Profit/Losses"].diff()

In [48]:
#taking a look at updated table
budget_data

        Date  Profit/Losses    Change
0   Jan-2010         867884       NaN
1   Feb-2010         984655  116771.0
2   Mar-2010         322013 -662642.0
3   Apr-2010         -69417 -391430.0
4   May-2010         310503  379920.0
..       ...            ...       ...
81  Oct-2016         102685 -665765.0
82  Nov-2016         795914  693229.0
83  Dec-2016          60988 -734926.0
84  Jan-2017         138230   77242.0
85  Feb-2017         671099  532869.0

[86 rows x 3 columns]

In [62]:
#calculating the average change month to month over entire period
avg_change = budget_data["Change"].mean()
#doing some formatting so the output looks nicer
avg_change = "{:.2f}".format(avg_change)
avg_change

'-2315.12'

In [50]:
#calculating the maximum month to month change over entire period
budget_data["Change"].max()

1926159.0

In [51]:
#calculating the minimum month to month change over entire period
budget_data["Change"].min()

-2196167.0

In [87]:
#Printing Results
print("Financial Analysis")
print("-------------------")
print("Total Months: ", num_months)
print("Total: $", profit_total)
print("Average Change: $", avg_change)
print("Greatest Increase in Profits: ", max_month, " $", budget_data["Change"].max() )
print("Greatest Increase in Profits: ", min_month, " $", budget_data["Change"].max() )

Financial Analysis
-------------------
Total Months:  86
Total: $ 38382578
Average Change: $ -2315.12
Greatest Increase in Profits:  Feb-2012  $ 1926159.0
Greatest Increase in Profits:  Sep-2013  $ 1926159.0

In [75]:
#finding the month of the max change and storing it in variable for print statement
max_month = budget_data.query('Change == 1926159.0')['Date'].iloc[0]
max_month

'Feb-2012'

In [88]:
#finding the month of the min change and storing it in variable for print statement
min_month = budget_data.query('Change == -2196167.0')['Date'].iloc[0]
min_month

'Sep-2013'

In [89]:
#exporting new table as csv (includes calculated month to month change column)
budget_data.to_csv(pwd + "/budget_data_output.csv")

In [100]:
#printing output to file
with open("output.txt", "x") as f:
    print("Financial Analysis", file=f)
    print("-------------------", file=f)
    print("Total Months: ", num_months, file=f)
    print("Total: $", profit_total, file=f)
    print("Average Change: $", avg_change, file=f)
    print("Greatest Increase in Profits: ", max_month, " $", budget_data["Change"].max(), file=f )
    print("Greatest Increase in Profits: ", min_month, " $", budget_data["Change"].max(), file=f )